name: "PR Checks: Check Mergeability"

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  validate-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@v4
        with:
          # We need fetch-depth: 0 to get all history for git diff
          fetch-depth: 0

      - name: Setup Environment
        uses: ./.github/actions/setup-docs-env

      - name: Validate document changes with --merge-ready
        run: |
          notipdo check pr --merge-ready
